// These colors are specific to the theme. Do not use in a package!

@white: #f9f9f9;
@very-light-gray: #a1a1a1;
@light-gray: #555555;
@gray: #373737;
@dark-gray: #282828;
@very-dark-gray: #1d1d1d;

@cyan: #8abeb7;
@blue: #A082D9;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
@yellow: #c1bc83;

@test: #ff6600;
